{% extends 'base.html.twig' %}

{% block title %}Hello MonitoringController!{% endblock %}

{% block body %}

    <div class="container">

        <div class="alert alert-primary mt-5" role="alert">
            Данные обновляются ежедневно в <strong>00:00</strong> и в <strong>12:00</strong>
        </div>

        <div class="mt-2 text-right">
            <button id="reload-btn" class="btn btn-outline-primary" onclick="reloadData()">Обновить данные вручную</button>
        </div>


        <h1 class="text-center mb-2 mt-5">Текущие отключения ресурсов</h1>

        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Адрес</th>
                <th>Ресурс</th>
                <th>Дата отключения</th>
                <th>Планируемая дата подключения</th>
                <th>Причина</th>
                <th>Примечания</th>
            </tr>
            </thead>
            <tbody>
            {% for disablingResource in currentDisablingResources %}
                <tr>
                    <td>{{ disablingResource.address }}</td>
                    <td>{{ disablingResource.resource }}</td>
                    <td>{{ disablingResource.dateOff | date('Y-m-d H:i') }}</td>
                    <td>{{ disablingResource.dateOn | date('Y-m-d H:i') }}</td>
                    <td>{{ disablingResource.reason }}</td>
                    <td>{{ disablingResource.note }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2 class="text-center mb-2 mt-5">Планируемые отключения ресурсов</h2>

        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Адрес</th>
                <th>Ресурс</th>
                <th>Дата отключения</th>
                <th>Планируемая дата подключения</th>
                <th>Причина</th>
                <th>Примечания</th>
            </tr>
            </thead>
            <tbody>
            {% for disablingResource in futureDisablingResources %}
                <tr>
                    <td>{{ disablingResource.address }}</td>
                    <td>{{ disablingResource.resource }}</td>
                    <td>{{ disablingResource.dateOff | date('Y-m-d H:i') }}</td>
                    <td>{{ disablingResource.dateOn | date('Y-m-d H:i') }}</td>
                    <td>{{ disablingResource.reason }}</td>
                    <td>{{ disablingResource.note }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>



{% endblock %}

{% block javascripts %}
    <script>

        const makeRequest = (method, url) => {
            return new Promise(function (resolve, reject) {
                let xhr = new XMLHttpRequest();
                xhr.open(method, url);
                xhr.onload = function () {
                    if (this.status >= 200 && this.status < 300) {
                        resolve(true);
                    } else {
                        reject(false);
                    }
                };
                xhr.onerror = function () {
                    reject(false);
                };
                xhr.send();
            });
        };

        const reloadData = () => {
            const btn = document.getElementById("reload-btn");
            btn.disabled = true;
            makeRequest('GET', '/reload').then((result) => {
                if (result) {
                    alert('Данные успешно обновлены');
                    location.reload();
                } else {
                    alert("Не удалось обновить данные");
                }
            }, () => {
                alert("Не удалось обновить данные");
            });
        };
    </script>
{% endblock %}
